<app-menu></app-menu>
<div style="margin-left: 0%;">
    <div *ngFor="let user of users">
        <div class="user-container">
            <h1>Username: {{ user.username }}</h1>
            <h3>Authorization level: {{ user.authLevel }}</h3>
            <h3>ID: {{ user.id }}</h3>
            <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;" (click)="del(user.id)">
                Delete user
              </button>              
        </div>
        <hr>
    </div>
</div>