<app-menu></app-menu>
<div class="form-container">
    <form>
      <label for="title">Post title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="title" required>

      <label for="description">Post description:</label>
      <input type="text" id="description" name="description" [(ngModel)]="description" required>

      <p>Choose image placement:</p>
      <div class="grid-container" *ngFor="let row of [0, 1, 2]">
        <div class="row">
          <div *ngFor="let col of [0, 1, 2]">
            <label class="radio-container">
              <input
                type="radio"
                name="gridOption"
                [value]="row * 3 + col + 1"
                [(ngModel)]="selectedOption"
                [checked]="row === 0 && col === 0"
              />
            </label>
          </div>
        </div>
      </div>

      <br>

      <label for="file">Choose an image to upload:</label>
      <input type="file" id="file" name="file" (change)="onFileSelected($event)" />

      <button type="submit" (click)="create()">Create post</button>
    </form>
  </div>